* {margin:0;padding:0;}
body {padding:0;font-family:'Trebuchet MS';font-size:13px;background:#003366;}

header, footer {width:820px;margin:0 auto;}
header {background:#fff;color:#181636;}
footer {clear:both;background:#003366;padding:10px;color:#9AB3CD;display:inline-block;}

header > h1 {margin:10px 0 0 10px;}
header > p {margin:0 0 12px 10px;}

img {width:150px;float:left;margin:0 12px 12px 0;}
header img {width:65px;height:70px;margin:5px 10px 8px 0;float:right;border:1px solid #003366;}
img.icon {width:15px;float:none;margin:0 2px 0 0;}
img.phot {float:left;margin:0 5px 5px 0;}
img.slide {display:block;float:none;width:530px;height:398px;margin:10px 0 0 0;}

#photoside {background:#856f5a url('/images/photos/beachleft-250.jpg') no-repeat 0 8px;position:absolute;top:0px;left:10px;width:250px;min-height:740px;height:100%;display:inline-block;}
#content {color:#003366;width:840px;margin:0;background:#fff;position:absolute;top:8px;left:262px;}

h1, h2, h3, h4 {color:#181636;margin:0px;}
h3 {clear:left;}
h1 a {text-decoration:none;color:#181636;}
p {margin:0 0 12px 0;}

a, nav.slide a {color:#536f3f;text-decoration:underline;}
a:hover, nav.slide a:hover {color:#B3CD9A;}
a img {border:0 none;}

.left {float:left;}
.right {float:right;}
.clear {clear:both;}

/* general nav styles */
nav {color:#B3CD9A;height:38px;/*background:#004D9A none no-repeat fixed 0 0;*/margin:0 -10px 0 -10px;padding:0;font-size:12px;border-top:1px solid #003366;clear:both;}
nav a {text-decoration:none;color:#B3CD9A;}
nav ul {margin:0;padding:0;list-style-type:none;}
nav li {background:#004D9A none no-repeat fixed 0 0;}
nav ul li a, nav ul li a:hover {text-decoration:none;cursor:default;}
nav ul li.on, nav ul li.on a, nav ul li.on .sub li {background:#ffce63;color:#181636;}
nav ul li:last-child {border-right:none;}

/* specific top level nav styles */
nav ul > li {width:195px;height:28px;margin:0;padding:5px 4px 5px 10px;border-right:1px solid #003366;float:left;text-transform:uppercase;}
nav ul li#fam {width:155px;}
nav ul li#int {width:132px;}
nav ul li#proj {width:290px;}
nav ul li#res {width:204px;}

/* specific sub level nav styles */
nav ul.sub {clear:both;visibility:hidden;height:0;line-height:0;padding:0;margin-left:-5px;}
nav ul.sub li {margin:0;padding:5px 4px 0 4px;width:auto;border-right:1px dotted #9AB3CD;text-transform:none;height:14px;}
nav ul.sub li a:hover {text-decoration:underline;cursor:pointer;}
#fam:hover .sub, #int:hover .sub, #proj:hover .sub, #res:hover .sub {visibility:visible;}
nav ul.sub li:last-child {border-right:none;}

/* specific sub level "ON" nav styles */
nav ul li.on ul.sub {visibility:visible;}
nav ul li.on ul.sub li a {color:#004D9A;}
nav ul li.on ul.sub li a:hover {color:#181636;}

#main {width:529px;min-height:510px;padding:10px 20px;background:#fff;clear:both;float:left;border-top:1px solid #003366;}

.side {width:250px;float:left;padding:10px;border-top:1px solid #003366;border-left:1px solid #003366;}
.side p {margin:0 0 7px 0;}
div.side p {clear:left;}
.side ul {margin:0 0 10px 0;padding:0 0 12px 12px;}

#side1 {background:#9AB3CD;}
#side2 {background:#B3CD9A;}
#side3 {background:#9AB3CD;height:auto;padding:10px 10px 17px 10px;min-height:140px;}

video {margin:0 5px;border:1px solid #003366;}

/* slide nav styles */
nav.slide {background:#fff;color:#003366;margin:0 0 4px 0;width:530px;height:18px;border-top:0px none;}
nav.slide span {color:#b3cd9a;text-decoration:none;}
nav.slide span.link {color:#536f3f;text-decoration:underline;cursor:pointer;}

#main ul.photos {list-style-type:none;margin:0;padding:0;}
#main ul.photos li {float:left;width:165px;height:160px;margin:0 10px 12px 0;padding:0;}
#main ul.photos li img {width:165px;margin:0;}

#biobits {width:230px;height:72px;overflow:hidden;position:relative;}
#biobits ul {margin:0;padding:0;list-style-type:none;position:relative;top:0;left:0;width:230px;height:1000px;}
#biobits ul li {height:72px;}

/* section based styles */
section {margin:10px 0 12px 0;}
section:after {visibility:hidden;display:block;content:"";clear:both;height:0;}
#main > section > h3 {margin:10px 0 0 0;}
section ul {padding:0 12px 12px 15px;}
section ul li ul {margin:0;}
section > div {margin-bottom:10px;}
section > div:last-child {margin-bottom:15px;}
#main section .courses + ul {display:none;padding-bottom:0;}

.years {font-style:italic;font-size:12px;}
.mat {font-style:italic;}
.courses {font-size:10px;color:#536f3f;text-decoration:underline;}
.courses:hover {cursor:pointer;color:#B3CD9A;}
dl {margin:0;padding:0;}
dd {margin:0 10px 10px 10px;}

#thumbcont {width:530px;height:40px;margin:5px 0;padding:0;overflow:hidden;position:relative;}
#thumbs {width:3500px;height:38px;position:relative;top:0;left:0;}
#thumbs ul {list-style-type:none;margin:0;padding:0;}
#thumbs ul li {float:left;width:50px;height:38px;margin:0 3px 0 0;padding:0;opacity:.75;}
#thumbs ul li img {width:50px;height:38px;border:1px solid #fff;margin:0;padding:0;} 
#thumbs ul li img:hover {border:1px solid #536f3f;cursor:pointer;}

#slideloc, #slidedate {font-style:italic;}

/* figure styles */
figure {width:320px;margin:0 0 25px 8px;}
figure img {width:320px;height:240px;margin:0;}
figure.vertical {width:240px;}
figure.vertical img {width:240px;height:320px;}
figure.gen {width:275px;}
figure.gen img {width:275px;height:344px;}
figcaption {font-style:italic;font-size:12px;}

/* sortable table styles */
table.sortable {width:530px;}
table.sortable thead th {background-color:#eee;color:#004D9A;font-weight:bold;text-align:left;cursor:pointer;}
table.sortable thead th:nth-child(1) {width:170px;}
table.sortable thead th:nth-child(2) {width:220px;}
table.sortable thead th:nth-child(3) {width:65px;}
table.sortable thead th:nth-child(4) {width:40px;}
table.sortable thead th span {font-size:12px;}
table.sortable thead th.sorttable_nosort {cursor:default;}
table.sortable tbody td {border-bottom:1px dashed #eee;padding-right:5px;}
table.sortable tbody td:nth-child(4) {text-align:center;padding-right:0;}
table.sortable tbody td a {text-decoration:none;border:1px solid;padding:0 1px;}

#side3 ul.slides li span {color:#536f3f;text-decoration:underline;cursor:pointer;}

.side .thumb {width:60px;height:45px;border:1px solid #9ab3cd;margin:0;}
#side3 ul.videos {margin:0;padding:0;}
#side3 ul.videos li {list-style-type:none;float:left;}
#side3 ul.videos li img:hover {border:1px solid #536f3f;cursor:pointer;}